::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9E9E9E;
}
.admin__grid {
    display: grid;
    grid-template-columns: 20% 80%;
}
.flex_columm{
    display: flex;
    flex-direction: column;
}
.header__main {
    display: flex;
    padding: 2rem;
    align-items: center;
    height: 100vh;
    position: fixed;
    z-index: 999;
    width: 220px;
    transition: .5s;
    background: #007dc5;
    box-shadow: 5px 0px 15px #00000026;
}

.top_title {
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 12vh;
    align-items: center;
    box-shadow: 12px 0px 15px #00000030;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;
}

.top_title h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 19%;

}

.btn-success.focus,
.btn-success:focus {
    box-shadow: none !important;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #2a497e;
    border-color: #2a497e;
}

.top_title button::before {
    position: absolute;
    content: "";
    border-left: 1px solid #ebebeb;
    height: 50px;
    top: 12px;
    right: 300px;
}

.top_title .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #007dc5;
    background: #007dc5;
    padding: 10px 50px;
    font-size: 15px;
    color: #fff;
}


.bg__tables {
    background: #fff;
    padding-top: 8rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #00000005;
}

.table thead th {

    border-bottom: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid transparent;
}

.bg__tables h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

tbody tr:nth-child(even) {
    background: #f5f5f5;
}

.top_title img,
.filter {
    filter: invert(1);
}


.form-control:focus {

    box-shadow: none;
}


.btn-success:hover {
    color: #fff;
    background-color: #2a497e;
    border-color: #2a497e;
}
.page-item{
    display: flex;
}
.page-item a{
    margin-right: 10px;
}
.page-item a:hover {
   
    color: #ffffff;
    text-decoration: none;
    background-color: #007dc5;
    border-color: #007dc5;
}
.filter {
    filter: invert(1);
}
.w-90{
    width: 90px;
}
.green{
    background: #00cf78;
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.admin__grid .navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.flex-column .nav-link img{
    margin-right: 12px;
    
}
.flex-column .nav-link {

    display: flex;
}