@media (max-width: 767px) {
    .offcanvas-collapse {
        position: fixed;
        top: 74px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #333;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: left, visibility;
    }

    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
        z-index: 9;
        padding-left: 50px;
    }

    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        display: flex;
        flex-direction: column;
    }

    .navbar-nav {
        list-style: inherit;
        color: #fff;
    }




    /** Hamburger */
    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-box:focus {
        outline: none;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner.js-hamburger {
        background-color: #00012e;
    }

    .hamburger-inner.js-hamburger:before {
        background-color: #00012e;
    }

    .hamburger-inner.js-hamburger::after {
        background-color: #00012e;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 35px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--elastic .hamburger-inner {
        top: 20px;
        transition-duration: 0.275s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .hamburger--elastic .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease;
    }

    .hamburger--elastic .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .hamburger--elastic.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s;
    }

    .hamburger--elastic.is-active .hamburger-inner::before {
        transition-delay: 0s;
        opacity: 0;
    }

    .hamburger--elastic.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-270deg);
        transition-delay: 0.075s;
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    #progressbar strong {
        display: none;
    }
    #progressbar {
        padding: 0;
    }
    .mt-50 {
        margin-top: 0;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .box {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1440px) and (max-width: 1199px) {}