.bestPrice {
    background-color: green;
}

.worstPrice {
    background-color: red;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9E9E9E;
}

/*home*/
.navbar {

    background: #fff;
    box-shadow: 0px 0px 10px #00000033;
    padding: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-general {
    background: #007dc5;
    color: #fff !important;
    padding: 10px 20px !important;
    box-shadow: 0px 3px 12px #00000047;
}


.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #0000004d;
}

.grid__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.img-form {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__form__item {

    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.overlay {
    position: absolute;
    background: #007dc5d6;
    width: 100%;
    height: 100%;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.overlay h3 {
    letter-spacing: 3px;
    font-size: 1.90rem;
}

.logo__1 {
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
}

button {
    border: 0;
}

.content__btn {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.content__btn p {
    margin: 0;
}

.content__btn p {
    margin-left: 15px;
}

.content__btn a {
    color: #007dc5;
}

.form-control:focus {
    border-color: #007dc5;
    box-shadow: none;
}


button:focus {
    outline: 1px dotted;
    outline: none;
}

.icon__form {
    margin-right: 10px;
    width: 24%;
  

}

.icon__form2 {
    width: 16%;
    margin-right: 5px;
}

.icon__form3 {
    width: 10%;
}
.icon__form4 {
    width: 24%;
    margin-right: 5px;
}
.icon__form5{
    width: 23%;
}

.mt-50 {
    margin-top: 50px;
}

/*post*/
.card-title {
    font-weight: 900;
    font-size: 1.6rem;
    position: relative;
}

.card-title::before {
    content: "";
    position: absolute;
    background: #007dc5;
    width: 5px;
    height: 19px;
    left: -9px;
    top: 6px;
}

.card__shadow {
    /*box-shadow: 0px 0px 10px #00000036;*/
    border-radius: 2px;
    padding: 30px;
    margin-bottom: 50px;

    height: auto;
}

.btn {
    background: #007dc5;
    background-color: #007dc5 !important;
    border: 1px solid #007dc5 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {

    color: #007dc5;
}

/*estepform*/

.step-progress {
    padding: 16px;
    background-color: transparent;
    margin: 0 auto;
}

.step-progress .step-slider {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.step-progress .step-slider .step-slider-item {
    width: 25%;
    height: 1px;
    position: relative;
    float: left;
    background-color: #E0E0E0;
}

.step-progress .step-slider .step-slider-item:after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s ease-out 0.5s;
    -webkit-transition: all 0.3s ease-out 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007dc5;
    font-size: 1.2rem;
}

.step-progress .step-slider .step-slider-item:nth-child(4):after {
    content: "4";
    display: none;
}

.step-progress .step-slider .step-slider-item:nth-child(3):after {
    content: "4";
    display: none;
}

.step-progress .step-slider .step-slider-item:nth-child(3) {
    display: none;
}

.step-progress .step-slider .step-slider-item:nth-child(2):after {
    content: "3";

}

.step-progress .step-slider .step-slider-item:nth-child(1):after {
    content: "2";
}

.step-progress .step-slider .step-slider-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #B0BEC5;
    z-index: 1;
    -webkit-transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item.active:before {
    width: 100%;
    background-color: #007dc5;
}

.step-progress .step-slider .step-slider-item.active:after {
    border-color: #007dc5;
}

.step-content {
    /* padding: 50px 0;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-content .step-content-foot {
    text-align: right;
    width: 75%;
}

.step-content .step-content-foot button {
    border: 0;
    padding: 8px 16px;
    background-color: #CFD8DC;
    font-size: 14px;
    border-radius: 3px;
    outline: 0;
}

.step-content .step-content-foot button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.step-content .step-content-foot button.out {
    display: none;
}

.step-content .step-content-foot button.disable {
    background-color: #ECEFF1;
}

.step-content .step-content-foot button.active {
    background-color: #007dc5;
    color: white;
}

.step-content .step-content-body {
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000036;
    margin-bottom: 30px;
    margin-top: 5rem;
    /*  border: 1px solid #0000001f;*/
}

.step-content .step-content-body.out {
    display: none;
}

.step-slider::after {
    content: "1";
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: 20%;
    background-color: #fff;
    border: 1px solid #007dc5;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s ease-out 0.5s;
    -webkit-transition: all 0.3s ease-out 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007dc5;
    font-size: 1.2rem;
}

.div__step {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .card__shadow {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*user dates*/
.shadows__content {
    box-shadow: 0px 0px 5px red;
}

.shadows__content__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 30px;
}

.shadows__content__item {
    box-shadow: 0px 0px 5px red;
}

/*tabs__profile*/
.tabs__profile {
    position: relative;
    background: white;

    padding-bottom: 80px;
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
    border-radius: 5px;
    display: flex;
}
.icon_tab{
    width: 10%;
    margin-right: 4px;
}
.icon_tab1{
    width: 11%;
}
.tabs__profile input[name="tab-control"] {
    display: none;
}

.tabs__profile .content section h2,
.tabs__profile ul li label {

    font-size: 18px;
    color: #3187c7;
}
.section__w{
    width: 85%;
}
.fs{
    font-size: 1.5rem;
}
.section__w .form-group {
    margin-bottom: 2rem;
}
.verification{
    background: #3187c7;
    padding: 10px;
    font-size: 14px!important;
    color: #fff!important;
    font-weight: initial!important;
    box-shadow: 0px 3px 10px #00000042;
}
.tabs__profile ul {
    list-style-type: none;
    padding-left: 0;
   /* display: flex;*/
    margin-bottom: 10px;
    -webkit-box-align: start;
    align-items: start;
    flex-direction: column;
    text-align: start;
    margin-right: 80px;
}

.tabs__profile ul li {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 10px;
    text-align: start;
    margin-bottom: 20px;
}

.tabs__profile ul li label {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs__profile ul li label br {
    display: none;
}

.tabs__profile ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs__profile ul li label:hover,
.tabs__profile ul li label:focus,
.tabs__profile ul li label:active {
    outline: 0;
    color: #bec5cf;
}

.tabs__profile ul li label:hover svg,
.tabs__profile ul li label:focus svg,
.tabs__profile ul li label:active svg {
    fill: #bec5cf;
}

.tabs__profile .slider__tabs__profile {
    position: relative;
    width: 25%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs__profile .slider__tabs__profile .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #3187c7;
    border-radius: 1px;
}

.tabs__profile .content {
       display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 12px #00000038;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -70px;
}

.tabs__profile .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs__profile .content section h2 {
    color: #3187c7;
    display: none;
}

.tabs__profile .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #3187c7;
    margin-top: 5px;
    left: 1px;
}

.tabs__profile input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    color: #3187c7;
    font-weight: bold;
    margin-left: -20px;
}



@media (max-width: 600px) {
    .tabs__profile input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs__profile input[name="tab-control"]:nth-of-type(1):checked~.slider__tabs__profile {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.tabs__profile input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
}

.tabs__profile input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    cursor: default;
    color: #3187c7;
    font-weight: bold;
    margin-left: -20px;
}

.tabs__profile input[name="tab-control"]:checked img{
    filter: opacity(0.5);
}

@media (max-width: 600px) {
    .tabs__profile input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs__profile input[name="tab-control"]:nth-of-type(2):checked~.slider__tabs__profile {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.tabs__profile input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
}

.tabs__profile input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    cursor: default;
    color: #3187c7;
    font-weight: bold;
    margin-left: -20px;
}


@media (max-width: 600px) {
    .tabs__profile input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs__profile input[name="tab-control"]:nth-of-type(3):checked~.slider__tabs__profile {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.tabs__profile input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
    display: block;
}

.tabs__profile input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
    cursor: default;
    color: #3187c7;
    font-weight: bold;
    margin-left: -20px;
}


@media (max-width: 600px) {
    .tabs__profile input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs__profile input[name="tab-control"]:nth-of-type(4):checked~.slider__tabs__profile {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

.tabs__profile input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
}



.tabs__profile input[name="tab-control"]:nth-of-type(5):checked~ul>li:nth-child(5)>label {
    cursor: default;
    color: #3187c7;
    font-weight: bold;
}



@media (max-width: 600px) {
    .tabs__profile input[name="tab-control"]:nth-of-type(5):checked~ul>li:nth-child(5)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs__profile input[name="tab-control"]:nth-of-type(5):checked~.slider__tabs__profile {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

.tabs__profile input[name="tab-control"]:nth-of-type(5):checked~.content>section:nth-child(5) {
    display: block;
}

@-webkit-keyframes content {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes content {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {
    .tabs__profile ul li label {
        white-space: initial;
    }

    .tabs__profile ul li label br {
        display: initial;
    }

    .tabs__profile ul li label svg {
        height: 1.5em;
    }
}

@media (max-width: 600px) {
    .tabs__profile ul li label {
        padding: 5px;
        border-radius: 5px;
    }

    .tabs__profile ul li label span {
        display: none;
    }

    .tabs__profile .slider__tabs__profile {
        display: none;
    }

    .tabs__profile .content {
        margin-top: 20px;
    }

    .tabs__profile .content section h2 {
        display: block;
    }
}


.bg {
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px #00000036;
}

.table thead th {

    border-bottom: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid transparent;
}

tbody tr:nth-child(even) {
    background: #f5f5f5;
}

/*form*/
.box {
    /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
  
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;*/
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #0000004d;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0;
    font-size: 18px;
    color: #000000c4;
    pointer-events: none;
    transition: .5s;
    animation: LabelOnLoad 1s forwards 0s ease;
}

@keyframes LabelOnLoad {
    0% {
        transform: rotate(0) translateY(-19px);
        opacity: 0;
    }

    100% {
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -19px;
    left: 0;
    color: #007dc5;
    font-size: 12px;
}

.box input[type='submit'] {
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    background: #3187c7;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.box input[type='submit']:hover {
    background-color: rgba(3, 169, 244, 0.7);
}

@media(max-width: 720px) {
    .box {
        width: 80%;
    }
}

.section__w .box .inputBox label {
    top: -15px;
}
