.bestPrice {
    background-color: transparent;
}
.worstPrice {
    background-color: #dc3545;
}
.bestPrice::before{
    position: absolute;
    content: "Mejor oferta";
    background: #00cf78;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    display: inline-block;
    font-size: 12px;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease;
    right: 20px;
    top: 20px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9E9E9E;
}

/*home*/
.navbar {

    background: #fff;
    box-shadow: 0px 0px 10px #00000033;
    padding: 15px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-general {
    background: #007dc5;
    color: #fff !important;
    padding: 10px 20px !important;
    box-shadow: 0px 3px 12px #00000047;
}


.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #0000004d;
}

.grid__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.img-form {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__form__item {

    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.overlay {
    position: absolute;
    background: #007dc5d6;
    width: 100%;
    height: 100%;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.overlay h3 {
    letter-spacing: 3px;
    font-size: 1.90rem;
}

.logo__1 {
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
}

button {
    border: 0;
}

.content__btn {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.content__btn p {
    margin: 0;
}

.content__btn p {
    margin-left: 15px;
}

.content__btn a {
    color: #007dc5;
}

.form-control:focus {
    border-color: #007dc5;
    box-shadow: none;
}


button:focus {
    outline: 1px dotted;
    outline: none;
}

.icon__form {
    margin-right: 10px;
    width: 24%;
  

}

.icon__form2 {
    width: 16%;
    margin-right: 5px;
}

.icon__form3 {
    width: 10%;
}
.icon__form4 {
    width: 24%;
    margin-right: 5px;
}
.icon__form5{
    width: 23%;
}

.mt-50 {
    margin-top: 50px;
}

/*post*/
.card-title {
    font-weight: 900;
    font-size: 1.6rem;
    position: relative;
}

.card-title::before {
    content: "";
    position: absolute;
    background: #007dc5;
    width: 5px;
    height: 19px;
    left: -9px;
    top: 6px;
}

.card__shadow {
    /*box-shadow: 0px 0px 10px #00000036;*/
    border-radius: 2px;
    padding: 30px;
    height: auto;
}

.btn {
    background: #007dc5;
    background-color: #007dc5 !important;
    border: 1px solid #007dc5 !important;
    border-radius: 0;
}

.btn:hover {
    background: #fff!important;
    color: #007dc5!important;
    border-radius: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {

    color: #007dc5;
}


.bg {
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px #00000036;
}

.table thead th {

    border-bottom: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid transparent;
}

tbody tr:nth-child(even) {
    background: #f5f5f5;
}

/*form*/


.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #0000004d;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0;
    font-size: 18px;
    color: #000000c4;
    pointer-events: none;
    transition: .5s;
    animation: LabelOnLoad 1s forwards 0s ease;
}

@keyframes LabelOnLoad {
    0% {
        transform: rotate(0) translateY(-19px);
        opacity: 0;
    }

    100% {
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -19px;
    left: 0;
    color: #007dc5;
    font-size: 12px;
}

.box input[type='submit'] {
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    background: #3187c7;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.box input[type='submit']:hover {
    background-color: rgba(3, 169, 244, 0.7);
}

@media(max-width: 720px) {
    .box {
        width: 80%;
    }
}

.section__w .box .inputBox label {
    top: -15px;
}

.categorias{
    display: flex;
}

/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show>.dropdown-toggle::after {
        transform: rotate(-90deg);
    }
}

@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li {
        position: relative;
    }

    .navbar-hover .collapse ul li:hover>ul {
        display: block
    }

    .navbar-hover .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 160px;
        display: none;
        margin-top: -10px;
        padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    .navbar-hover .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none
    }

    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}
.dropdown-item {
    color: #007dc5;
}
.categorias{
    position: relative;
    margin-top: 12px;
}
.categorias p{
    background: #007dc594;
    padding: 5px;
    font-size: 11px;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 12px;
}
/*.categorias p::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    top: 4px;
    transform: rotate(50deg);
    left: -15px;
}*/
.pagination{
    margin-top: 20px;
}



#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset:not(:first-of-type) {
    display: none
}


#msform .action-button {
    width: 100px;
  
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;

    background: #007dc5;
    color: #fff !important;
   
    box-shadow: 0px 3px 12px #00000047;
    transition: .5s;
    margin: 0px 40px 30px 15px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #ffffff;
    color: #007dc5!important;
    transition: .5s;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000036;
    margin-bottom: 30px;
    text-align: start;
}

#msform .action-button-previous {
    width: 100px;
    background: #00000000;
    color: #616161;
    border: 1px solid #616161b0;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
    margin: 0px 0px 20px;
    transition: .5s;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #616161;
    color: #fff;
}

/*.card {
    z-index: 0;
    border: none;
    position: relative
}*/

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #007dc5;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    padding-bottom: 50px;
    color: lightgrey
}

#progressbar .active {
    color: #007dc5;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content:"\f040";
}

#progressbar #producto:before {
    font-family: FontAwesome;
    content: "\f196";
}
#progressbar strong{
    position: absolute;
    top: -50%;
    left: 30%;
}
#progressbar #empresa:before {
    font-family: FontAwesome;
    content: "\f0f7";;
}

#progressbar #finalizar:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 4px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 1px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #007dc5;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #007dc5;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}
.pblicar{
    text-align: center;
    color: #0e0e0ede;
}
.pblicar:hover{
    text-align: center;
    color: #007dc5;
}

.select_search{
    background: transparent;
    box-shadow: 0px 6px 13px #00000026;
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    transition: .6s;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_search li{
    color: #007dc5;
    transition: .6s;
}

.select_search a{
    font-size: 13px;
    font-weight: 800;
    color: #007dc5;
    text-decoration: none;
    transition: .6s;
}
.select_search a:hover,.select_search li:hover  {
    transform: translate(10px, 0px);
    color: #4CAF50;
    transition: .6s;
}

.select_search  li:nth-child(1) {
    margin-top: 20px;
}
.select_search  li:last-child {
    margin-bottom: 20px;
}
.font{
    font-family: 'Poppins', sans-serif;
    
    font-weight: 600;
    text-transform: capitalize;

}
.card__shadow-general{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000036;
    margin-bottom: 30px;
}
.card__shadow-general--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex_line{
    display: flex;
    justify-content: space-between;
}
.flex_line-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__shadow-general__best{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000036;
    margin-bottom: 30px;
}